name: Check Conventional Commits

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  security-events: write
  checks: write
  packages: read

jobs:
  lint-commits:
    name: Lint commits
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: webiny/action-conventional-commits@v1.3.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          allowed-commit-types: 'feat,fix,chore,docs,style,build,tech'
